
body{
    background: rgb(185, 213, 240) !important;
}
p .fas{
    margin-right: 10px;
}
#blockage{
    z-index: 1;
    height: 15vw;
    background: transparent;
    position:absolute;
    cursor: pointer;
}
#userdiv{
    position:relative;
    width:15vw;
    background: grey;
    border-radius: 50%;
    margin-bottom: 20px;
}
#user{
    position:absolute;
    color:black;
    top:11.6vw;
    width:100%;
    left:0vw;
    padding: 5px 30px 10px 30px;
    line-height: 15px;
    text-align: center;
    font-weight: bolder;
    word-wrap: break-word;
}
#wrapper{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.active{
    color:darkgreen !important;
    text-decoration: underline;
}
.testcontainer{
    width:70vw !important;
    margin:3vw;
}
#dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0,0.1);
    position: fixed;
    left:0;
    padding-top:20px;
    width:20vw;
    height:100vh;
}
#dashboard img,#blockage{
    border-radius:50%;
    width:100%;
}
#dashboard ul{
    list-style: none;
    transform: translateX(-20%);
}
#dashboard a{
    color:darkblue;
}
#dashboard a:hover{
    text-decoration: none;
}
.notification{
    z-index: 7;
    position: fixed;
    font-size: 28px;
    height:50px;
    text-align: center;
    top:0;
    width:100vw;
    margin:0;
    transition: all 1s;
}
#testBody{
    margin-top:10px;
}
#test{
    background: rgba(0, 0, 0,0.1);
    margin:1rem 0;
    padding:1rem;
    width:100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0,0.5);
    border-radius:10px;
}
#test span,#question span{
    display: block;
    position:relative;
    width: 100%;
    text-align: right;
}
#test:hover{
    box-shadow: 0 1px 10px black;
}
#question{
    position: relative;
    background: rgba(0, 0, 0,0.1);
    margin:1rem 0;
    padding:1rem;
    width:100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0,0.5);
    border-radius:10px;
}
#question p{
    font-size:20px;
}
.brand{
    background: -webkit-linear-gradient( darkblue 20%, red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size:34px;
    margin-bottom: 10px;
}
#buttons label{
    display: inline;
    top:20;
    font-size: 18px;
}
.button input[type=radio]{
    position: relative;
    top:8px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    margin:1rem;
    width:30px;
    height: 30px;
}
#submit{
    position: absolute;
    left:50vw;
    transform: translateX(-50%);
    font-size: 20px;
    margin-bottom: 2rem;
}
#backToHome button{
    outline: none;
    background: rgba(128, 128, 128,0.2);
    border:none;
    cursor: pointer;
    width:50px;
    height: 50px;
    font-size: 20px;
    padding:10px 10.5px;
    border-radius: 50%;
} 
#backToHome{
    position: relative;
    left:20px;
}
.green{
    background: rgba(0, 255, 0,0.2) !important;
}
.red{
    background: rgba(255, 0, 0, 0.2) !important;
}
#questionInfo{
    display: none;
}
#timer{
    background: rgba(255,255,255,0.3);
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.3);
    border-radius:50%;
    position:fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top:50vh;
    -webkit-animation-iteration-count: infinite;
    transform: translateY(-50%);
    left:1vw;
}